@value makerGreen, makerBlack, makerWhite from '../../common/colors.css';

.header {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: makerGreen;
  position: relative;
}

.logo {
  width: 3em;
}

.title {
  margin: 0;
  color: makerWhite;
}

.logout {
  position: absolute;
<<<<<<< HEAD
  right: 3em;
  top: 1em;
=======
  right: 1.3em;
  top: 0.5em;
>>>>>>> b226c19ae681961f3fa2f1ba17c66acd257cac0e
  padding: 0.8em;
  border-radius: 20%;
  background-color: makerBlack;
  color: makerWhite;
  outline: 0;
  border: 0;
  cursor: pointer;
}
