@value makerGrey from  './common/colors.css';

* {
  box-sizing: border-box;
}
<<<<<<< HEAD

=======
>>>>>>> b226c19ae681961f3fa2f1ba17c66acd257cac0e
.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: makerGrey;
}
